.app{
  min-height: 100vh;
  background-color: #d1ddcf;
  justify-content: space-around; /*space-around oldugunda arada boşluklar*/
  align-items: center; 
  display: flex;
  flex-direction: row; /*column degeride alabilir*/
}

.todolist{
  border : 2px solid black;
  width: 250px;
  height: 250px;
  background-color: #245fa3;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
}